#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

body{
  background-color: rgb(243 244 246) ;
}


#inputbox{
  width: 30%;
  padding: 10px;
  outline: none;
  border: 1px solid gainsboro;
}

#inputbox:focus {
 border: 1px solid gold 
}

